IMAGE_NAME=reg.cismet.de/uba/cids-distribution
IMAGE_VERSION=5.0

CIDS_DISTRIBUTION=uim2020-distribution
CIDS_EXTENSION=UIM2020-di
CIDS_CODEBASE=http://uim2020-di-client.cismet.de

CIDS_SERVER_DOMAINNAME=uim2020-di-server.cismet.de
CIDS_CLIENT_DOMAINNAME=uim2020-di-client.cismet.de

# for docker compose
CIDSDISTRIBUTION_IMAGE_BASE=reg.cismet.de/uba/cids-distribution
CIDSDISTRIBUTION_IMAGE_TAG=uba-5.4.1
IMAGE_TAG_PREFIX=uba
# basedir for host mounted volumes
CIDSDISTRIBUTION_BASEDIR=~/uim2020-diDist

# PGADMIN
PGADMIN_DEFAULT_EMAIL=email
PGADMIN_DEFAULT_PASSWORD=password

# POSTGRES
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# HTML5 CLIENT
CLIENT_VERSION=1.1.1